body {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(1,1,1,0.9), rgba(1,1,1,0.9)), url("../Images/code.jpg");
    background-color: #000000; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #FFFFFF;
}

.navbar {
    background-color: rgba(0,0,0,0.9);
}

section {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

.fab {
    padding: 16px;
    font-size: large;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
}

.nav-item {
    margin: 4px;
}

.far {
    padding: 16px;
    font-size: large;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
}

.fab:hover {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.far:hover {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.fa-facebook-f {
    background: #3B5998;
    color: white;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin-in {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github-alt {
    background: #272727;
    color: white;
}

.fa-medium-m {
    background: #000000;
    color: white;
}

.fa-google-play {
    background: #2c4762;
    color: white;
}

.fa-envelope {
    background: #e25748;
    color: white;
}
.skill {
    border-radius: 15px;
    text-align: center;
    padding: 8px;
    margin: 4px;
}

.bordered-nav {
    border: 1px solid #AED6F1;
    border-radius: 3px;
}

.page-section {
    height: 480px;
    width: 50%;
    margin-left: 35%;
    margin-top: 5%;
    padding: 3em;
    background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
    color: white;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}

.list-group-item {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
}

.tab-pane .list-group-item {
    background-color: transparent;
    border-color: rgb(146, 146, 146);
}

.tab-pane .list-group-item .small {
    color: #adadad;
}

.list-group-item .large {
    color: #ffffff;
}

.list-group-item a {
    color: #47d3f7;
}

.nav-pills .nav-item {
    margin: 2px;
    color: #FFFFFF;
}

.tab-content {
    padding: 4px;
}

.card-deck .card {
    margin-top: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(255, 255, 255);
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
